<h2>Create New Landmark</h2>

<!-- add content here -->
<form action="/landmarks" method="post">
  <label for="landmark_name">Landmark Name: </label>
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
